<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<img src="./universidad_2.jpg" alt="University" width="544" height="360"/>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tfmeyer@inodu.com">email</a></li>
	        		<li><a href="https://github.com/tfmeyermunoz">github.com/tfmeyermunoz</a></li>
				</ul>
			</footer>
		</body>
	</html>
© 2021 GitHub, Inc.
Terms
Privacy
